<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>饿了么商家管理后台</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="../assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css"
          media="screen"/>
    <link rel="stylesheet" href="../css/owl.carousel.css" type="text/css">
    <!-- 提示插件样式 -->
    <link href="../js/base/toastr-master/toastr.css">


    <!-- Custom styles for this template -->

    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/style-responsive.css" rel="stylesheet"/>
    <link href="../css/slidebars.css" rel="stylesheet">
    <!-- vue.js引入 -->
    <script src="../js/vue.min.js"></script>
    <script src="../js/vue-resource.min.js"></script>

    <script src="../js/base/header.js"></script>
    <script src="../js/base/base-utils.js"></script>
    <script src="../js/base/base-fram-mixxin.js"></script>

</head>
<head>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.js"></script>
    <script src="../js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<section id="container">
    <v_header></v_header>
    <!--sidebar start-->
    <v_aside id="sidebar" class="nav-collapse" :menuobj="menuobj"></v_aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height">
            <!-- page start-->
            <div class="row">
                <div class="col-lg-12">
                    <!--breadcrumbs start -->
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">视频管理</a>
                        </li>
                        <li class="active">视频播放</li>
                    </ul>
                    <!--breadcrumbs end -->
                </div>
            </div>
            <!--内容开始-->
            <div class=" row  product-list">
                <div v-for="(item,index) in navItems" :key="index" class="col-md-3 " v-cloak>
                    <a data-toggle="modal" data-target="#playerModal" @click="playCourseware(item)">
                        <section class="panel" v-cloak>
                            <div class="pro-img-box">
                                <img :src="item.ImageUrl" alt=""/>
                                <a href="#" class="adtocart">
                                    <i class="fa fa-play-circle"></i>
                                </a>
                            </div>
                            <div class="panel-body text-center">
                                <h4>
                                    <a href="#" class="pro-title">
                                        {{item.TitleList}}
                                    </a>
                                </h4>
                            </div>
                        </section>
                    </a>
                </div>
            </div>

            <div v-if="navItems.length > 0" class="text-right">
                <div class="custom-page"></div>
            </div>

            <div class="modal fade modal-dialog-center" id="playerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content-wrap">
                        <div class="modal-content">
                            <form class="form-horizontal tasi-form" @submit.prevent="save">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">{{curware.TitleList}}</h4>
                                </div>
                                <div class="modal-body am-padding-0">
                                    <div id="video" style="width: 700px;height: 550px;"></div>
                                    <div class="video-loading"><i class="fa fa-spinner fa-spin"></i></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div id="video" style="width:600px;height:400px;"></div>-->
        </section>
        <!--main content end-->
    </section>


    <!--footer start-->
    <v_footer></v_footer>
    <!--footer end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="../js/jquery.dcjqaccordion.2.7.js"></script>
<!-- 返回顶部 -->
<script src="../js/jquery.scrollTo.min.js"></script>
<!-- 提示插件 -->
<script src="../js/base/toastr-master/toastr.js"></script>
<!-- 分页插件 -->
<script src="../js/jquery.createPage.min.js"></script>
<!-- 滚动条插件 -->
<script src="../js/jquery.nicescroll.js" type="text/javascript"></script>
<script type="text/javascript" src="../assets/data-tables/jquery.dataTables.js"></script>
<!-- Bmob后端云 -->
<script src="../assets/Bomb/Bmob-1.6.7.min.js"></script>
<script src="../js/base/Bmob.js"></script>

<!-- 兼容CSS3特性 -->
<script src="../js/respond.min.js"></script>
<!--common script for all pages 左侧菜单-->
<script src="../js/common-scripts.js"></script>

<!--视频播放插件-->
<script type="text/javascript" src="../js/ckplayer/ckplayer/ckplayer.js" charset="utf-8"></script>
<script src="./js/VideoPlayer.js"></script>

</body>

</html>